use flake

PRJ_DATA_DIR="$(pwd)/.data"
export PRJ_DATA_DIR

mkdir -p "$PRJ_DATA_DIR"

PGDATA="$PRJ_DATA_DIR/postgres"
PGHOST="$PRJ_DATA_DIR"
PGPORT="5434"
PGLISTEN="127.0.0.1"
PGUSER="niks3"
PGPASS="niks3"
PGDATABASE="niks3_dev"

DATABASE_URL="postgres://$PGUSER:$PGPASS@localhost:$PGPORT/$PGDATABASE?sslmode=disable"

export PGDATA PGHOST PGPORT PGLISTEN PGUSER PGPASS PGDATABASE DATABASE_URL

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="$DATABASE_URL"
GOOSE_MIGRATION_DIR=migrations

export GOOSE_DRIVER GOOSE_MIGRATION_DIR GOOSE_DBSTRING

NIX_S3_GC_DB="$DATABASE_URL"

export NIX_S3_GC_DB

RUSTFS_DATA="$PRJ_DATA_DIR/rustfs"
RUSTFS_ACCESS_KEY=niks3
RUSTFS_SECRET_KEY=!Pa55w0rd  # needs to be at least 8 characters
RUSTFS_ADDRESS=127.0.0.1:9000

export RUSTFS_DATA RUSTFS_ACCESS_KEY RUSTFS_SECRET_KEY RUSTFS_ADDRESS

NIKS3_DB="$DATABASE_URL"
NIKS3_HTTP_ADDR=":5751"
NIKS3_S3_ENDPOINT="$RUSTFS_ADDRESS"
NIKS3_S3_ACCESS_KEY="$RUSTFS_ACCESS_KEY"
NIKS3_S3_SECRET_KEY="$RUSTFS_SECRET_KEY"
NIKS3_S3_USE_SSL="false"
NIKS3_S3_BUCKET="binary-cache"
NIKS3_API_TOKEN="dev-token-12345678901234567890123456"
NIKS3_SIGN_KEY_PATHS="$PRJ_DATA_DIR/signing-key.sec"

export NIKS3_DB NIKS3_HTTP_ADDR NIKS3_S3_ENDPOINT NIKS3_S3_ACCESS_KEY NIKS3_S3_SECRET_KEY NIKS3_S3_USE_SSL NIKS3_S3_BUCKET NIKS3_API_TOKEN NIKS3_SIGN_KEY_PATHS