use flake

PRJ_DATA_DIR="$(pwd)/.data"
export PRJ_DATA_DIR

mkdir -p "$PRJ_DATA_DIR"

PGDATA="$PRJ_DATA_DIR/postgres"
PGHOST="$PRJ_DATA_DIR"
PGPORT="5434"
PGLISTEN="127.0.0.1"
PGUSER="niks3"
PGPASS="niks3"
PGDATABASE="niks3_dev"

DATABASE_URL="postgres://$PGUSER:$PGPASS@localhost:$PGPORT/$PGDATABASE"

export PGDATA PGHOST PGPORT PGLISTEN PGUSER PGPASS PGDATABASE DATABASE_URL