name: Build Docker Image
on:
  push:
    branches:
      - main
    tags:
      - "v*"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Docker Setup Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
            type=sha,format=short
      - name: Setup Nix
        uses: cachix/install-nix-action@v31
      - name: Build Docker image
        run: |
          nix build .#niks3-docker --print-build-logs
      - name: Push images
        run: |
          set -xve
          image_tag=$(docker load < ./result | grep "Loaded image" | awk '{print $3}')
          for tag in $(echo '${{ steps.meta.outputs.tags }}' | tr ' ' '\n'); do
            docker tag "$image_tag" "$tag"
            docker push "$tag"
          done
